[user]
	email = skewb1kunix@gmail.com
	name = skewb1k
[init]
	defaultBranch = master
[core]
	editor = nvim
	autocrlf = false
	excludesfile = /home/skewbik/.config/git/.gitignore_global
[push]
	autoSetupRemote = true
[merge]
	conflictstyle = diff3
[pull]
	rebase = false
[commit]
	template = /home/skewbik/.config/git/.gitmessage
[url "git@github.com:"]
	insteadOf = https://github.com/
