[user]
	email = 101928759+skewb1k@users.noreply.github.com
	name = skewb1k
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = false
	excludesfile = /home/skewbik/.config/git/.gitignore_global
[push]
	autoSetupRemote = true
[merge]
	tool = nvimdiff
	conflictstyle = diff3
# [mergetool "nvimdiff"]
#   layout = "LOCAL,BASE,REMOTE / MERGED"
[pull]
	rebase = false
[commit]
	template = /home/skewbik/.config/git/.gitmessage
[url "git@github.com:"]
	insteadOf = https://github.com/
