[Unit]
Description=Sway Wayland Session
After=graphical-session.target

[Service]
ExecStart=/usr/bin/sway
Restart=always
Environment=MOZ_ENABLE_WAYLAND=1
Environment=QT_QPA_PLATFORM=wayland
Environment=SDL_VIDEODRIVER=wayland
Environment=GDK_BACKEND=wayland
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=XDG_RUNTIME_DIR=%t
Environment=GTK_THEME='Adwaita-dark'

[Install]
WantedBy=default.target

